@import url('https://fonts.googleapis.com/css2?family=Prosto+One&display=swap');

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: 'Prosto One', cursive;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 1 auto;
}

/* ----------------------NULL---------------------------- */

body {
    background-color: #17252A;
}

header {
    width: 100%;
    height: 70px;
}

.header-container {
    background-color: #fff;
    margin: 0 100px;
    height: 70px;
}

.header-container {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.header-container h1 {
    background-color: #a8d0d6;
    color: #17252A;
    padding: 5px 200px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

main {
    display: flex;
}

.section-form {
    width: 900px;
    height: 450px;
    background-color: #a8d0d6;
    margin: auto;
    border-radius: 30px;
    color: #17252A;
}

.form-wrapper {
    display: flex;
    justify-content: space-between;
    height: auto;
    background-color: #a8d0d6;
    margin: auto;
    border-radius: 30px;
}

.form-container1 {
    width: 45%;
    height: 350px;
    margin: 20px 0 0 50px;
    display: flex;
    justify-content: left;
    flex-direction: column;
}

input {
    width: 100px;
    height: 18px;
    border-radius: 10px;
    border: solid #fff;
    background-color: #fff;
    text-indent: 10px;
}

.form-container1 h3 {
    margin-top: 20px;
}

.form-container2 {
    width: 45%;
    height: 350px;
    margin: 20px 0 0 50px;
    display: flex;
    flex-direction: column;
}

.form-container2 h3 {
    margin-top: 20px;
}

.button-result {
    border: none;
    width: 160px;
    height: 50px;
    background-color:  rgb(26, 177, 177);
    cursor: pointer;
    font-size: 15px;
    font-family: 'Prosto One', cursive;
    transition-duration: 0.3s;
}

.button-result:hover {
    transform: scale(1.08);
    background-color: rgb(88, 241, 241);
}

.results {
    margin: 20px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-container {
    background-color: #fff;
    display: flex;
    justify-content: center;
    font-size: 8px;
}

#res {
    font-size: 30px;
    padding: 5px 20px;
    text-decoration: underline;
}




@media only screen and (max-width: 1200px) {
    .header-container h1 {
        padding: 5px 40px;
    }
}

@media only screen and (max-width: 992px) {
    .form-container2, .form-container1 {
        margin: 20px auto;
        width: 70%;
        border-bottom: 1px solid #000;
        font-size: 20px;
        height: 410px;
    }
    .form-wrapper {
        flex-direction: column;
    }
    .section-form {
        margin: 100px auto;
        height: 1000px;
        width: 90%;
    }
    .header-container {
        font-size: 16px;
    }
    input {
        width: 150px;
        height: 30px;
        text-indent: 10px;
    }
    h3 {
        margin-top: 50px;
    }
}

@media only screen and (max-width: 768px) {
    .form-container2, .form-container1 {
        margin: 20px auto;
        width: 95%;
        border-bottom: 1px solid #000;
        font-size: 15px;
        height: 410px;
    }
    .form-wrapper {
        flex-direction: column;
    }
    .section-form {
        margin: 100px auto;
        height: 1000px;
        width: 90%;
    }
    .header-container {
        font-size: 16px;
    }
    input {
        width: 150px;
        height: 30px;
        text-indent: 10px;
    }
    h3 {
        margin-top: 50px;
    }
    .results {
        margin: 20px;
    }
    #res {
        font-size: 18px;
    }
    .header-container h1 {
        padding: 0;
        background-color: #fff;
    }
    .header-container {
        font-size: 16px;
        width: 100%;
        margin: 0;
    }
}

@media only screen and (max-width: 480px) {
    .header-container {
        font-size: 11px;
    }
    .form-container2, .form-container1 {
        height: 600px;
        font-size: 18px;
    }
    .section-form {
        height: 1450px;
    }
    .results {
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer-container h1{
        font-size: 12px;
    }
}

